.Hero{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hero .hero-container{
    width: 80%;
    height: 90%;
    background-image: url(../Images/hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}