.Navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar .NavBar-contatiner{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar .NavBar-contatiner .logo{
    width: 40px;
    height: 40px;
    background-image: url(../logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navigation{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
/* .Navbar .NavBar-contatiner .navigation ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
.nav-btn {
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.8rem;
}
a{
    text-decoration: none;
    color: black;
}
.active {
    background-color: rgba(255, 182, 193, 0.7);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 1024px) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        height: 60vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        background-color: rgba(255, 182, 193, 0.7);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .responsive_nav {
        transform: none;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .active {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
}